html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 350px;
    text-align: center;
}

header {
    background-color: lightsteelblue;
    color: darkslateblue;
}

h1 {
    padding-top: 0;
    margin-top: 0;
    font-family: "Zilla Slab", serif;
    color: darkslateblue;
    text-shadow: 2px 2px cadetblue;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image:url(../img/background.png);
}

section {
    display: flex;
    justify-content: space-between;
    font-family: "Inconsolata", serif;
    font-size: 18px;
    color: whitesmoke;
}

#deck {
    width: 100%;
}

div.card {
    margin: 20px;
    width: 80%;
    height: 30%;
    margin-top: 30px;
    background-color: lightslategray;
    box-shadow: darkslateblue 10px 10px 5px;
    border-radius: 5%;
}

img {
    margin-top: 15px;
    width: 70%;
    height: 65%;
    padding: 0%;
    border-radius: 5%;
}

input {
    margin-bottom: 5px;
}

button {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
}

#score{
    padding-right: 50px;
}