html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    
    text-align: center;
}

header {
    background-color: ;
}

h1 {
    padding-top: 0;
    margin-top: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image:url(../img/background.png);
}

section {
    display: flex;
    justify-content: space-between;
}

#deck {
    width: 75%;
}

div.card {
    margin: 20px;
    width: 80%;
    margin-top: 30px;
    background-color: lightslategray;
    box-shadow: darkblue 10px 10px 5px;
    border-radius: 5%;
}

img {
    margin-top: 15px;
    width: 70%;
    padding: 0%;
    border-radius: 5%;
}

input {
    margin-bottom: 15px;
}